@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background: url(../background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: gray;
  font-family: 'Open Sans', sans-serif;
}

.invtable {
    opacity: 0.9;
    text-align: left;
}

.inventory {
    padding-bottom: 3%;
}

.addsection {
    opacity: 0.9;
}

.buttons {
    background: none;
    color: gray;
    border: none;
    text-decoration: none;
    margin:auto;
}

.buttons:hover {
    background-color:rgba(210, 180, 140, 0.784);
    background-blend-mode: lighten;
    scale: 110%;
}

.infoicon {
    scale: 110%;
}

.buttoncontainer {
    display: flex;
    column-gap: 4px;
    margin-left: 60%;
    scale: 90%;
}

.icons {
    color: gray;
}

.submitbutton {
    margin-left: 2%;
    scale: 90%;
    background-color: #eee8dc;
}

.submitbutton:hover {
    scale: 100%;
}

.inputline {
    width: 5px;
}

.additemsbox {
    margin-left: -1%;
}

