<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>invpage</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/invpageStyle.css">
</head>
<body>
    <div class="container">
        <div class="inventory">
            <h2>Current Inventory</h2>
            <table class="highlight invtable">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Widgets</td>
                        <td>5</td>
                        <td class="buttoncontainer">
                            <a class="btn-floating btn-large waves-effect waves-light buttons" href="/invpage/infopage"><i class="material-icons grey-text infoicon">info_outline</i></a>
                            <a class="btn-floating btn-large waves-effect waves-light buttons"><i class="material-icons grey-text">edit</i></a>
                            <a class="btn-floating btn-large waves-effect waves-light buttons"><i class="material-icons grey-text">close</i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Gizmos</td>
                        <td>99</td>
                        <td class="buttoncontainer">
                            <a class="btn-floating btn-large waves-effect waves-light buttons" href="/invpage/infopage"><i class="material-icons grey-text infoicon">info_outline</i></a>
                            <a class="btn-floating btn-large waves-effect waves-light buttons"><i class="material-icons grey-text">edit</i></a>
                            <a class="btn-floating btn-large waves-effect waves-light buttons"><i class="material-icons grey-text">close</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="addsection">
            <h2>Add Items</h2>
            <form class="row additemsbox">
                    <div class="input-field col s5">
                        <input id="item_name" type="text" class="validate" required="">
                        <label for="item_name">Item Name</label>
                    </div>
                    <div class="input-field col s5">
                        <input type="number" name="quantity inputline" id="quantityInput" value="1">
                        <label for="quantityInput" class="active inputline">Quantity</label>
                    </div>
                    <a class="btn-floating btn-large waves-effect waves-light buttons submitbutton" type="submit"><i class="material-icons grey-text">add</i></a>
            </form>
        </div>
    </div>
    
<!-- Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- initialize Materialize elements -->
<script> M.AutoInit();</script>
</body>
</html>